In [1]:
import pandas as pd
import seaborn as sns

In [2]:
pd.set_option('Display.max_columns', 27)

In [3]:
df = pd.read_csv('..//Dados/Dados_Challenge.csv')
df

,Idade,Salario_anual,Situacao_prop,Tempo_trabalho,Motivo_emprest,Pont_emprest,Total_emprest,Tx_juros,Possib_inadimp,Renda_pecentual,Periodo,Inadimplente
0,NaN,41160.0,Rent,2.0,Debtconsolidation,A,6500.0,13.57,0.0,NaN,2,Y
1,22.0,29000.0,Mortgage,5.0,Debtconsolidation,B,9000.0,NaN,1.0,0.31,4,N
2,31.0,19968.0,Rent,1.0,Education,B,2500.0,9.62,1.0,0.13,6,N
3,29.0,73000.0,Rent,1.0,Homeimprovement,B,5000.0,12.42,0.0,NaN,11,NaN
4,29.0,42000.0,Rent,4.0,Venture,G,1600.0,19.16,0.0,0.04,6,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
995,33.0,51000.0,Mortgage,2.0,Education,A,1200.0,9.63,1.0,0.02,7,N
996,25.0,22800.0,Rent,NaN,Medical,B,6000.0,NaN,0.0,0.26,3,N
997,23.0,75000.0,Rent,2.0,Medical,A,8000.0,7.90,0.0,0.11,4,N
998,41.0,53000.0,Mortgage,20.0,Venture,C,11000.0,NaN,0.0,0.21,14,Y
999,37.0,51000.0,Mortgage,3.0,Debtconsolidation,C,12800.0,12.84,0.0,0.25,12,N

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Idade            987 non-null    float64
 1   Salario_anual    990 non-null    float64
 2   Situacao_prop    991 non-null    object
 3   Tempo_trabalho   965 non-null    float64
 4   Motivo_emprest   990 non-null    object
 5   Pont_emprest     993 non-null    object
 6   Total_emprest    991 non-null    float64
 7   Tx_juros         899 non-null    float64
 8   Possib_inadimp   993 non-null    float64
 9   Renda_pecentual  989 non-null    float64
 10  Periodo          1000 non-null   int64
 11  Inadimplente     992 non-null    object
dtypes: float64(7), int64(1), object(4)
memory usage: 93.9+ KB

> Como Ã© possivel observar, existem muitas colunas com dados faltantes. Dentre elas a coluna Inadimplete, que Ã© fundamental para o desenvolvimento deste projeto, diante disso, irei remover estas linhas do conjunto de dados.

In [5]:
# Removendo as linhas com valores nulos do dataset
df = df.dropna()

#resetando o index
df.reset_index(inplace = True, drop = True)
df

,Idade,Salario_anual,Situacao_prop,Tempo_trabalho,Motivo_emprest,Pont_emprest,Total_emprest,Tx_juros,Possib_inadimp,Renda_pecentual,Periodo,Inadimplente
0,31.0,19968.0,Rent,1.0,Education,B,2500.0,9.62,1.0,0.13,6,N
1,29.0,42000.0,Rent,4.0,Venture,G,1600.0,19.16,0.0,0.04,6,Y
2,21.0,45000.0,Rent,3.0,Personal,A,7200.0,9.38,0.0,0.16,4,N
3,22.0,72000.0,Own,1.0,Venture,B,15000.0,10.25,0.0,0.21,4,N
4,24.0,81600.0,Rent,5.0,Venture,C,8000.0,12.84,0.0,0.10,2,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
831,33.0,95000.0,Mortgage,1.0,Education,D,24000.0,12.92,0.0,0.25,5,Y
832,27.0,18000.0,Rent,3.0,Education,B,8000.0,10.75,1.0,0.44,10,N
833,33.0,51000.0,Mortgage,2.0,Education,A,1200.0,9.63,1.0,0.02,7,N
834,23.0,75000.0,Rent,2.0,Medical,A,8000.0,7.90,0.0,0.11,4,N
835,37.0,51000.0,Mortgage,3.0,Debtconsolidation,C,12800.0,12.84,0.0,0.25,12,N

In [6]:
# Observando as variÃ¡veis categÃ³ricas
for column in df[['Situacao_prop','Motivo_emprest','Pont_emprest','Inadimplente']].columns:
    print('------'*9)
    print(column)
    print(df[column].unique())

------------------------------------------------------
Situacao_prop
['Rent' 'Own' 'Mortgage' 'Other']
------------------------------------------------------
Motivo_emprest
['Education' 'Venture' 'Personal' 'Medical' 'Debtconsolidation'
 'Homeimprovement']
------------------------------------------------------
Pont_emprest
['B' 'G' 'A' 'C' 'D' 'E' 'F']
------------------------------------------------------
Inadimplente
['N' 'Y']

In [7]:
# Encoding das variÃ¡veis qualitativas.
df = pd.get_dummies(data = df, columns = ['Situacao_prop','Motivo_emprest','Pont_emprest'])

In [8]:
# Reorganizando as variÃ¡veis.
df = df[['Idade', 'Salario_anual', 'Tempo_trabalho', 'Total_emprest', 'Tx_juros',
       'Possib_inadimp', 'Renda_pecentual', 'Periodo', 'Situacao_prop_Mortgage', 'Situacao_prop_Other', 'Situacao_prop_Own',
       'Situacao_prop_Rent', 'Motivo_emprest_Debtconsolidation',
       'Motivo_emprest_Education', 'Motivo_emprest_Homeimprovement',
       'Motivo_emprest_Medical', 'Motivo_emprest_Personal',
       'Motivo_emprest_Venture', 'Pont_emprest_A', 'Pont_emprest_B',
       'Pont_emprest_C', 'Pont_emprest_D', 'Pont_emprest_E', 'Pont_emprest_F',
       'Pont_emprest_G','Inadimplente']]
df.head()

,Idade,Salario_anual,Tempo_trabalho,Total_emprest,Tx_juros,Possib_inadimp,Renda_pecentual,Periodo,Situacao_prop_Mortgage,Situacao_prop_Other,Situacao_prop_Own,Situacao_prop_Rent,Motivo_emprest_Debtconsolidation,Motivo_emprest_Education,Motivo_emprest_Homeimprovement,Motivo_emprest_Medical,Motivo_emprest_Personal,Motivo_emprest_Venture,Pont_emprest_A,Pont_emprest_B,Pont_emprest_C,Pont_emprest_D,Pont_emprest_E,Pont_emprest_F,Pont_emprest_G,Inadimplente
0,31.0,19968.0,1.0,2500.0,9.62,1.0,0.13,6,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,0,N
1,29.0,42000.0,4.0,1600.0,19.16,0.0,0.04,6,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,Y
2,21.0,45000.0,3.0,7200.0,9.38,0.0,0.16,4,0,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,N
3,22.0,72000.0,1.0,15000.0,10.25,0.0,0.21,4,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,0,N
4,24.0,81600.0,5.0,8000.0,12.84,0.0,0.10,2,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,Y

In [9]:
# Aplicando o Label Encoder na variÃ¡vel Inadimplente (N:0 / Y:1).
from sklearn.preprocessing import LabelEncoder

df['Inadimplente'] = LabelEncoder().fit_transform(df['Inadimplente'])
df.head()

,Idade,Salario_anual,Tempo_trabalho,Total_emprest,Tx_juros,Possib_inadimp,Renda_pecentual,Periodo,Situacao_prop_Mortgage,Situacao_prop_Other,Situacao_prop_Own,Situacao_prop_Rent,Motivo_emprest_Debtconsolidation,Motivo_emprest_Education,Motivo_emprest_Homeimprovement,Motivo_emprest_Medical,Motivo_emprest_Personal,Motivo_emprest_Venture,Pont_emprest_A,Pont_emprest_B,Pont_emprest_C,Pont_emprest_D,Pont_emprest_E,Pont_emprest_F,Pont_emprest_G,Inadimplente
0,31.0,19968.0,1.0,2500.0,9.62,1.0,0.13,6,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0
1,29.0,42000.0,4.0,1600.0,19.16,0.0,0.04,6,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,1
2,21.0,45000.0,3.0,7200.0,9.38,0.0,0.16,4,0,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0
3,22.0,72000.0,1.0,15000.0,10.25,0.0,0.21,4,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0
4,24.0,81600.0,5.0,8000.0,12.84,0.0,0.10,2,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,1

In [10]:
#Salvando os dados jÃ¡ preparados para as prÃ³ximas etapas.
df.to_csv('..//Dados/Dados_Challenge_1.csv')